[Unit]
Description=Day/Night Gamma Adjustments for Wayland Compositors
Documentation=https://sr.ht/~kennylevinsen/wlsunset.

# order startup after WM
After=graphical-session.target

[Service]
Type=exec
# Repurpose XDG Autostart filtering
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""
ExecStart=wlsunset -S 06:00 -s 17:00
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
# Alternatively can be wanted by specific WMs
#WantedBy=wayland-session@sway.desktop.target
#WantedBy=wayland-session@wayfire.desktop.target
#WantedBy=wayland-session@labwc.desktop.target
#WantedBy=wayland-session@hyprland.desktop.target
